.header {
    height: 800px;
    padding-top: 50px;
    background-color: #265847;
    background-image: url('./../img/header/header1.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
}

.header-inner {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #265847;
    background-image: url('./../img/header/header2.jpg');
    background-position: center;
    background-size: cover;
    color: #fff;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;    
}

.header-nav-list {
    display: flex;
    justify-content: space-between;
}

.header-nav-item:not(:last-child) {
    margin-right: 50px;
}

.header-nav-item a {      
    font-size: 22px;
    line-height: 1.3; 
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.2s ease-in,  text-shadow 0.2s ease-in;
}

.header-nav-item a:hover {    
    color:#e6e78e; 
    text-shadow: 0 0 20px #bbb;
}

.header-nav-item a:active {  
    color:#eed192; 
}

.header-nav-btn {
    display: none;
}

.header-content {
    width: 1170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;

}
.header-title {
    margin-top: 10px;  
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 60px;
}
.header-subtitle {
    font-size: 24px;
}

.header-scroll {
    display: inline-block;
    padding-bottom: 34px;
    position: absolute;
    bottom: 25px;    
    left: 50%;
    transform: translateX(-50%);  
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
}

.header-scroll::after {
    content: "";
    display: block;
    width: 18px;
    height: 24px;
    position: absolute;    
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);  
    background-image: url('./../img/header/arrow-down.svg');
    transition: bottom 0.2s ease-in;
}

.header-scroll:hover::after {    
    bottom: 0px;
}